* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
}

.experience-container {
  padding: 0 120px;
}

.work-experience {
  list-style: none;
}

.work-experience-coop {
  display: flex;
  margin-bottom: 20px;
}

.company-picture:hover {
  transform: scale(1.3);
}

.work-experience-details {
  margin-left: 30px;
}

.work-experience-company {
  font-size: x-large;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: blue;
}

.work-experience-location {
  font-size: large;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: green;
  float: right;
  padding-right: 20px;
}

.work-experience-position {
  font-size: large;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: purple;
}

.work-experience-position::before {
  content: "\a";
  white-space: pre;
}

.work-experience-dates {
  font-size: large;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: orange;
  float: right;
  padding-right: 20px;
}

.work-experience-description {
  font-size: large;
  font-family: Arial, sans-serif;
  padding-right: 20px;
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
  .experience-container {
    padding: 0 55px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  #experience-heading {
    padding: 0 55px;
  }

  .work-experience-company {
    display: block;
  }

  .work-experience-location {
    float: none;
    display: block;
  }

  .work-experience-position {
    display: block;
  }

  .work-experience-position::before {
    content: none;
    white-space: none;
  }

  .work-experience-dates {
    float: none;
  }

  .experience-container {
    padding: 0 35px;
  }
}
