* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.about-me-button,
.experience-button {
  background: transparent;
  border: transparent;
  font-family: Arial;
  font-size: larger;
}

.about-me-button {
  margin-right: 30px;
}

.about-me-button:hover,
.experience-button:hover {
  transform: scale(1.3);
}

.buttons {
  margin-top: 20px;
}

.typing-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.name {
  font-size: 6rem;
}

.sub-heading {
  font-size: 2rem;
  color: #0074e4; /* Blue color */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sub-heading {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .name {
    font-size: 3rem;
    padding: 0 5px;
  }

  .sub-heading {
    font-size: 1.1rem;
  }
}
